{% import "Component/Libraries.twig" as libraries %}
{% from "Component/NavBar.twig" import NavBar %}
{% extends "Template.twig" %}
{% block head %}
    {{ libraries.texme() }}
    {{ libraries.codemirror() }}
    {{ libraries.filepond() }}
    <script>
        window.onload = function() {
            var inputEl = document.querySelector("#input");
            var renderEl = document.querySelector("#render");
            var renderEl2 = document.querySelector("#render2");
            var Bodyoutput = texme.render(inputEl.value);
            renderEl.innerHTML = Bodyoutput;
            if (renderEl2) {
                renderEl2.innerHTML = Bodyoutput;
            }
            window.MathJax.texReset();
            window.MathJax.typesetPromise();

            if (renderEl2) {
                inputEl.addEventListener("keyup", (e) => {
                    var Bodyoutput = texme.render(inputEl.value);
                    renderEl2.innerHTML = Bodyoutput;
                    window.MathJax.texReset();
                    window.MathJax.typesetPromise();
                });
            }

            var editor = CodeMirror.fromTextArea(document.querySelector("#codemirror-code-editor"), {
                mode: "text/x-csrc",
                lineNumbers: true,
                lineWrapping: true,
                extraKeys: {
                    "Ctrl-Space": "autocomplete"
                }
            });
            editor.setSize("auto", "auto");
        }
    </script>
{% endblock head %}
{% block body %}
    {% embed "Component/ProblemContainer.twig" with { "activeTab": "problem" } %}
    {% block contents %}
        <div class="w-full flex-grow bg-white dark:bg-gray-800 flex gap-x-4">
            <div class="flex-none basis-1/2 flex flex-col gap-y-2">
                <div class="w-full flex">
                    <h1 class="text-4xl font-extrabold dark:text-white">{{ problemTitle }}</h1>
                    {% if user.getIsAdmin %}
                        {#管理者ログイン時#}
                        <!-- Modal toggle -->
                        <button data-modal-target="extralarge-modal"
                                data-modal-toggle="extralarge-modal"
                                class="ml-auto my-auto text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2 text-center inline-flex items-center mr-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500"
                                type="button">
                            <svg class="w-4 h-4"
                                 aria-hidden="true"
                                 xmlns="http://www.w3.org/2000/svg"
                                 fill="currentColor"
                                 viewBox="0 0 18 18">
                                <path d="M17 0h-5.768a1 1 0 1 0 0 2h3.354L8.4 8.182A1.003 1.003 0 1 0 9.818 9.6L16 3.414v3.354a1 1 0 0 0 2 0V1a1 1 0 0 0-1-1Z" />
                                <path d="m14.258 7.985-3.025 3.025A3 3 0 1 1 6.99 6.768l3.026-3.026A3.01 3.01 0 0 1 8.411 2H2.167A2.169 2.169 0 0 0 0 4.167v11.666A2.169 2.169 0 0 0 2.167 18h11.666A2.169 2.169 0 0 0 16 15.833V9.589a3.011 3.011 0 0 1-1.742-1.604Z" />
                            </svg>
                        </button>
                        <!-- Extra Large Modal -->
                        <div id="extralarge-modal"
                             tabindex="-1"
                             class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                            <div class="relative w-full max-w-7xl h-full max-h-full">
                                <!-- Modal content -->
                                <div class="relative flex flex-col min-h-full bg-white rounded-lg shadow dark:bg-gray-700">
                                    <!-- Modal header -->
                                    <div class="flex items-center p-5 rounded-t">
                                        <button type="button"
                                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                data-modal-hide="extralarge-modal">
                                            <svg class="w-3 h-3"
                                                 aria-hidden="true"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 fill="none"
                                                 viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    <!-- Modal body -->
                                    <form method="post"
                                          action="/problem/{{ problemId }}/update"
                                          class="flex flex-col flex-grow gap-y-4 p-6">
                                        <div class="flex flex-grow gap-x-4">
                                            <div class="flex flex-col flex-grow w-full gap-y-2">
                                                <div class="flex flex-col gap-y-2">
                                                    <p class="text-gray-800 font-semibold">問題名</p>
                                                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                           name="title"
                                                           value="{{ problemTitle|raw }}">
                                                </div>
                                                <div class="flex flex-col flex-grow gap-y-2">
                                                    <p class="text-gray-800 font-semibold">問題文</p>
                                                    <textarea id="input"
                                                              class="overflow-y-auto flex-grow block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                              name="body">{{ problemBody|raw }}</textarea>
                                                </div>
                                            </div>
                                            <div class="flex w-full">
                                                <div id="render2" class="markdown"></div>
                                            </div>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="flex items-center justify-end rounded-b">
                                            <button data-modal-hide="extralarge-modal"
                                                    type="submit"
                                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                                保存
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <p class="text-black dark:text-white">
                    時間制限：<span class="font-light">{{ problemTimeConstraint }} sec</span> メモリ制限：<span class="font-light">{{ problemMemoryConstraint }} KB</span>
                </p>
                <div id="render" class="markdown text-black dark:text-white"></div>
                <textarea id="input" hidden>{{ problemBody|raw }}</textarea>
            </div>
            <div class="flex-none basis-1/2 flex max-h-[800px]">
                {% if user %}
                    {#ログイン時#}
                    <div class="flex-none basis-full flex flex-col bg-slate-200 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <ul class="flex w-full py-px px-2 text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-100 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800 "
                            id="defaultTab"
                            data-tabs-toggle="#defaultTabContent"
                            role="tablist">
                            <li class="mr-2">
                                <button id="source-tab"
                                        data-tabs-target="#source"
                                        type="button"
                                        role="tab"
                                        aria-controls="source"
                                        aria-selected="true"
                                        class="inline-block p-4 text-blue-600 rounded-tl-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">
                                    ソースコードで提出
                                </button>
                            </li>
                            <li class="mr-2">
                                <button id="file-tab"
                                        data-tabs-target="#file"
                                        type="button"
                                        role="tab"
                                        aria-controls="file"
                                        aria-selected="false"
                                        class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">
                                    ファイルでアップロード
                                </button>
                            </li>
                            <select id="language"
                                    name="language"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ml-auto mr-2 my-2 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                {% for language in problemSubmittableLanguages|sort((a, b) => b.comparesTo(a)) %}
                                    <option {{ loop.first ? 'selected' : '' }} value="{{ language.value }}">{{ language.value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </ul>
                        <div id="defaultTabContent" class="flex flex-col flex-grow w-full">
                            {#ソースコード選択時#}
                            <div class="flex flex-col flex-grow p-2 text-left rounded-b-lg bg-white dark:bg-gray-800"
                                 id="source">
                                <form method="post"
                                      action="/problem/{{ problemId }}/submit"
                                      class="flex flex-col flex-grow w-full gap-y-2">
                                    <input class="hidden" name="language" id="sourceCodeTabLanguage" value="C" />
                                    <input type="hidden"
                                           id="submissionType"
                                           name="submissionType"
                                           value="SourceCode">
                                    <input id="language" type="hidden">
                                    <div class="relative flex-grow">
                                        <textarea id="codemirror-code-editor" name="sourceCode"></textarea>
                                    </div>
                                    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
                                    <button type="submit"
                                            class="ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        提出
                                    </button>
                                </form>
                            </div>
                            {#ファイル提出選択時#}
                            <div class="w-full h-full hidden flex-col p-2 text-left rounded-b-lg bg-white dark:bg-gray-800"
                                 id="file">
                                <form method="post"
                                      action="/problem/{{ problemId }}/submit"
                                      class="flex flex-col w-full h-full gap-y-2">
                                    <input class="hidden" name="language" id="FileTabLanguage" value="C" />
                                    <input type="hidden" id="submissionType" name="submissionType" value="File">
                                    <input id="language" type="hidden">
                                    <input id="fileup" type="file" name="sourceFile">
                                    <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
                                    <button type="submit"
                                            class="ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                        提出
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {#未ログイン時#}
                    <div class="my-auto flex flex-col items-center w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <p class="mb-3 font-normal　text-center　text-gray-700 dark:text-gray-400">プログラムを提出するにはログインしてください</p>
                        <div class="flex w-full justify-center gap-x-4">
                            <a href="/auth/register"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                新規登録
                            </a>
                            <a href="/auth/login"
                               class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                ログイン
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <script>
            const sourceCodeTabLanguage = document.querySelector("#sourceCodeTabLanguage");
            const FileTabLanguage = document.querySelector("#FileTabLanguage");
            const languageSelect = document.querySelector("#language");
            languageSelect.addEventListener("change", (e) => {
                let language = e.target.value;
                sourceCodeTabLanguage.setAttribute("value", language);
                FileTabLanguage.setAttribute("value", language);
            });
        </script>
        <script>
            const input = document.querySelector('input[id="fileup"]');
            FilePond.create(input, {
                storeAsFile: true,
            });
        </script>
    {% endblock contents %}
{% endembed %}
{% endblock body %}
